.horizontalDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.verticalDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolBar{
    height:100px;
    
    flex-direction:row;
    display: flex;
    align-items:space-evenly;
}
.toolbar > a{
    margin: 20px;
}

table{
    max-width: 100px;
}
a{
  display: flex;
  align-items: center;
}
.titleImage{
    width: 50%;
    align-self: center;
}
.toolBar > a> img{
    height:50%;
    align-self: flex-start;
}

.menuImage{
    width: 100px;
    height: 40px;
}
form{
    width: 50%;
}

.pokedexArea{
    margin-top: 15px;
    width: 50%;
    height: 150px;
} 
.formRow{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

textarea{
    margin-bottom: 5px;
}
label {
    /* flex: 0 0 120px; */

    align-self: flex-start;
    margin-right: 15px;
    margin-bottom: 16px;
    height: 20px;
}
input{
    margin-bottom: 18px;
    background: #f2f2f2;
    border-radius: 3px;
    border: none;
}

#tblPokedex td {
    vertical-align: top !important;
    text-align: left !important; /* Optional: change to 'left' if needed */
}